.ar-bg {
    background-image: url('/images/d01.jpg');
    background-position: center;
    background-size: cover;
}
.graph {
    max-height: 250px;
    margin: 12px 0px 0px 45px;
    width: auto;
}

.hexagon-button {
    height: 134px;
    width: 116px;
    background-image: url('/images/hexagon-button.svg');
}

.hexagon-button-icon {
    margin: 24px auto 0 auto;
}

.link-card {
    padding-top: 66.7%;
    position: relative;
}
.link-card-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title {
    position: relative;
}

.sub-title::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    top: 0;
    left: 35%;
    background-color: #fff;
}

.food-card {
    padding-top: 61.5%;
    position: relative;
}
.food-card-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
}

.food-card-label {
    position: absolute;
    left: 0;
    bottom: 0;
}